$mainFont: 'Roboto', sans-serif;

$mainRed: #E84C3C;
$mainBlue: #4295D3;
$mainGrey: #A1A0A0;

$shortTransition: all 0.25s ease-in-out;

@mixin flex ($justifyContent, $alingItems, $flexDirection) {
    display: flex;
    align-items: $alingItems;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
}